body {
    margin: 0;
    background: #FCFCFC;
}

h2 {
    font-size: 1.8em;
    text-align: left;
}

.rf-header {
    box-shadow: none;
    border-bottom: 1px solid #F2F2F2;
}

.rf-footer {
    margin-top: 5em;
    border-top: 1px solid #F2F2F2;
}


section {
    padding: 0 0 2em;
    position: relative;
}

section:nth-child(2n) {
    background: #FFF;
    margin-bottom: 3em;
}

section:nth-child(2n):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3em;
    background: linear-gradient(to bottom right, rgba(255,255,255,0) 49%, #FFF 50%);
    top: -3em;
    left: 0;
}

section:nth-child(2n):after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3em;
    background: linear-gradient(to top right, rgba(255,255,255,0) 49%, #FFF 50%);
    bottom: -3em;
    left: 0;
}


section.startups .rf-highlight {
    border-left-color: #00AC8C;;
}

section.startups .kpi strong {
    color: #00AC8C;
}


section.designers .rf-highlight {
    border-left-color: #5770BE;;
}

section.designers .kpi strong {
    color: #5770BE;
}

section.community .rf-highlight {
    border-left-color: #FF6F4C;;
}

section.community .kpi strong {
    color: #FF6F4C;
}






.kpi {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: bold;
    margin: 1em;
    max-width: 14em;
}

.kpi strong {
    font-size: 3.5rem;
    font-weight: 600;
    /*color: #000091;*/

    line-height: 1.2;
}

.kpi p {
    font-size: .9rem;
    font-weight: normal;
}
